@import '../../constants/Colors.scss';

.AutoCompleteItem {
  cursor: pointer;
  &:active,
  &:hover {
    background-color: #e1e3e5;
    border-color: #d3d5d7;
  }
  &__result {
    text-align: left;
    font-size: 1rem;
    padding-left: 0.5em;
    margin: 0.2em;
    color: $color-font-1;
    &:hover {
      background-color: $color-5;
      cursor: pointer;
    }
  }
  &--active {
    background-color: $color-5;
  }
}
