// ---main---
$color-font-1: rgb(38, 37, 43);
$color-background-1: white;

// ---lighter ---
$color-font-2: rgb(95, 95, 95);
$color-font-3: rgb(202, 202, 202);

// ---hover color / color accent---
$color-font-4: rgb(255, 178, 34);
