@import './constants/Colors.scss';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  // padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

.App {
  text-align: center;
  color: $color-font-1;
  // height: 90vh;
  width: 100%;
}
