@import '../../constants/Colors.scss';
@import '../../constants/Breakpoints.scss';

.Footer {
  width: 100%;
  min-height: 10vh;
  padding: 1em;
  background-color: $color-font-1;
  color: $color-font-3;

  &a:link,
  a:visited {
    color: $color-font-3;
  }
  &__media-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__media-wrapper-link {
    margin-right: 1em;
  }
  &__media {
    transition: 0.3s;
    font-size: 2rem;
    @include for-tablet-portrait-up {
      font-size: 3rem;
    }
    &--small {
      font-size: 1rem;
      margin-right: 0.5em;
      @include for-tablet-portrait-up {
        font-size: 1.2rem;
      }
    }
    &:hover {
      color: $color-font-4;
      cursor: pointer;
    }
  }
  &__rights {
    margin-top: 0.5em;
    text-align: center;
    font-size: 0.8rem;
    @include for-tablet-portrait-up {
      font-size: 1.2rem;
    }
  }
}
